#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    background: #283339

}


.bg-yellow {
  background: gold;
  color:black !important;
}

.border-yellow {
  border-color: gold !important;
}